<mat-card class="example-card">
  <mat-card-header>
    <span><i ngClass="{{this.data.iconClass}}"></i></span>
    <mat-card-title>{{this.data.title[0]}} <br> {{this.data.title[1]}}</mat-card-title>
    <mat-card-subtitle>{{this.data.mount}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<!--
  <div class="ed-item s-100 m-50 l-25 s-pt-2">
    <mat-card class="example-card">
      <mat-card-header>
        <span><i class="far fa-money-bill-alt"></i></span>
        <mat-card-title>COMPRAS <br> TOTALES</mat-card-title>
        <mat-card-subtitle>$0,00</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>


  <div class="ed-item s-100 m-50 l-25 s-pt-2">
    <mat-card class="example-card">
      <mat-card-header>
        <span><i class="fas fa-shopping-cart"></i></span>
        <mat-card-title>VENTAS <br> TOTALES</mat-card-title>
        <mat-card-subtitle>$0,00</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="ed-item s-100 m-50 l-25 s-pt-2">
    <mat-card class="example-card">
      <mat-card-header>
        <span><i class="fas fa-dollar-sign"></i></span>
        <mat-card-title>COMPRA <br> ADEUDADA</mat-card-title>
        <mat-card-subtitle>$0,00</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="ed-item s-100 m-50 l-25 s-pt-2">
    <mat-card class="example-card">
      <mat-card-header>
        <span><i class="far fa-file-alt"></i></span>
        <mat-card-title>FACTURA <br> A PAGAR</mat-card-title>
        <mat-card-subtitle>$0,00</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

-->
