@import '../../../styles.scss';

.mat-cards {
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 3px -1px rgba(0,0,0,.5), 0 3px 3px 0 rgba(0,0,0,.3), 0 3px 5px 0 rgba(0,0,0,.4);
  }
}

.icon-1 {
   color: #26d368;
 }

.icon-2 {
  color: #6acbd3;
}
.icon-3 {
  color: #d35347;
}
.icon-4 {
  color: #d3ce2b;
}
