@import '../../../styles.scss';

.hidden {
  display: none;
}

.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidenav .mat-toolbar {
  background: $light_red;
}

.sidenav {
  width: 200px;
  border: none;
  & .mat-list-item {
    color: $blue;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
}

.mat-toolbar.mat-primary {
  background-color: $dark_red;
  position: sticky;
  top: 0;
  z-index: 1;
}

.resize {
  width: 400px;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0,0,0,.6);
}









