@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../../styles.scss';

.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidenav .mat-toolbar {
  background: $ligth_red;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  /*@media (min-width: 768px) {
    display: none;
  }*/
}

.hidden {
  display: none;
}

.mat-toolbar.mat-primary {
  background-color: $dark_red;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-shown {
  background: rgba(0,0,0,0.5);
}
