<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer
      class="sidenav"

      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <span class="s-mr-1" [ngClass]="{hidden: !(isHandset$ | async)}">Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <span class="s-mr-1" [ngClass]="{hidden: !(isHandset$ | async)}">Catálogos</span>
        <i class="far fa-2x fa-folder-open"></i>
      </a>
      <a mat-list-item href="#">
        <span class="s-mr-1" [ngClass]="{hidden: !(isHandset$ | async)}">Operaciones</span>
        <i class="fas fa-2x fa-file-signature"></i>
      </a>
      <!--<a mat-list-item href="#"></a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        > <!--*ngIf="isHandset$ | async"-->
        <mat-icon aria-label="Side nav toggle icon"><i class="fas fa-bars"></i></mat-icon>
      </button>
      <span>ZAPATERÍA</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
