@import './../../styles.scss';

/*HOME */

.home_title {
  margin-top: 1rem;
  margin-bottom: 0;
}

.mat-card-header {
  & .mat-card-title {
    font-size: 25px;
    @media (min-width: 640px) {
      font-size: 18px;
    }
    @media (min-width: 1440px) {
      font-size: 23px;
    }
  }
}



















