@import './../../styles.scss';
/*HOME */

.home_title {
  margin: 1rem 0px;
}

.home_title--bg {
  color: $blue;
}

.mat-card-header {
  & .mat-card-title {
    font-size: 25px;
    @media (min-width: 640px) {
      font-size: 18px;
    }
    @media (min-width: 1440px) {
      font-size: 23px;
    }
  }
}



















